<!DOCTYPE html>
<html>   <!--  # HTML form with title and blog post  -->
  <head>
    <title>Blog Central Station</title>
    <style>
      navigational  {
        float:left;
      }

    </style>
  </head>
  <body>
    <div>
      <span class="navigational">Home</span>
      <span class="navigational">Recent Blogs</span>
      <span class="navigational">Create a New Blogpost</span>
    </div>
    <h1>This is my blog</h1>

      {% block content %}
      {% endblock %}

    <div>My Blog &copy; 2016</div>
  </body>
</html>


    <!--
    /* ##

    for element in collection   # in a simple form

    for (int i =0; i < collection.length(); i++)  {
      Entry entry = collection[i];
      dah
      dah
      dah

    }


    ##   */
      -->
