{% extends "base.html" %}

{% block content %}

<!-- "findAnotherArticle" is new variable here, no previous reference  -->
{% for findAnotherArticle in rendTheBlogs %}
    <div class="bloggy">
      <div class="bloggyTitle">
        <!-- turn this into a link when getting ID portion   -->
        <a href="/permalinks/{{findAnotherArticle.key().id()}}">{{findAnotherArticle.title}}</a>
      </div>
      <pre class="bloggybody">
        {{findAnotherArticle.article}}
      </pre>
    </div>
  {% endfor %}


{% endblock %}
